*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
.banner{
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB80;
    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%,  rgba(49, 168, 221, 0.5) 50%, rgba(0, 0, 0, 0.96) 92%),
        url('assets/images/banner.png') no-repeat center center / cover;
}

.banner-content{
    color: white;
    width: 600px;
    margin: auto;
    text-align: center;


}
.banner .logo{
    height: 260px;
    width: 260px;
    margin: auto;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);

}

.banner h1{
    
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: transparent;
    /* identical to box height */
    
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    

    
 
}

.banner-content p{
    font-weight: 400;
    font-size: 1.25rem;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
}

button{   
    font-weight: 900;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    border-color: #31A8DD;
    background: rgba(0, 0, 0, 0.0);
    padding: 10px;
    border-radius: 8px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.21em;

    color: #31A8DD;
    cursor: pointer;
}

main{
    width: 100vw;
    margin: 0px;
    padding-top: 1px;
    background: rgba(0, 0, 0, 1);
    color: #FFFFFF;
}
section{
    margin: 100px auto;
}
#course-content{
    
    width: 792px;
    height: 325px;
    left: 324px;
    top: 623px;
    text-align: center;
}
h2{
    
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    /* identical to box height */

    letter-spacing: 4px;

    color: #33A8DB;

}
.course-content p{
    font-weight: 400;
    font-size: 1.25rem;

    color: #FFFFFF;

}
.modules-list{
    width: 792;
    height: 153;

    display: grid;
    align-items: center;
    justify-content: center;
}
.module{
    padding: 16px 127px;
    width: 535px;
    margin-top: 15px;

    font-size: 11px;
    font-weight: 400;

    background: #252525;
    border: 1px solid #33A8DB;
    border-radius: 57px;
    box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
}

.module span{
    color: #33A8DB;
}

#transform-world {
    position: static;
    width: 100vw;
    height: 300px;
    left: 0px;
    background-image: url(assets/images/woman-code.png);
    background-size: cover;
    background-attachment: fixed;
    margin: 1px;
}
#transform-world p{
    width: 244px;
    height: 141px;

    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    text-shadow: 3px 2px 0px #33A8DB;
    margin-left: 80px;
    padding-top: 75px;
    text-transform: lowercase;

    color: #FFFFFF;
}
section{
    margin: 100px auto;
    display: block;
}
#professional-challenges{
    width: 800px;
    text-align: center;
}
#professional-challenges img{
    margin: 32px 0;
}
#professional-challenges h2{
    font-size: 2rem;
    color: #33A8DB;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
    
}
#professional-challenges p{
    color: white;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

footer{
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 1px solid #33A8DB80;
    display: block;
    background-color: black;
}
body{
    background-color: black;
}